
#game-container {
  text-align: center;
  margin-top: 50px;
}

#result {
  font-size: 24px;
  margin-bottom: 20px;
}

#score {
  font-size: 18px;
  margin-bottom: 20px;
}

#buttons {
  display: flex;
  justify-content: center;
  
}

.choice {
  font-size: 16px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  background-color: gainsboro;
  color: white;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0 7px #bbb;
}

.choice:active {
  box-shadow: 0 3px #999;
    transform: translateY(5px);
}
.choice:hover {
  /* a little darker shade of green */
  background-color: rgb(192, 191, 191);
  cursor: pointer;
}